body{
    background:  rgba(0, 128, 0, 0.3) ;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    /* display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    /* height: 100vh;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif; */
}

.holder{
    border-radius: 5px;
    background-color: #09e6e6;
    width: 400px;
}

.feel, .zip {
    margin-top: 15px;
}

.entry{
    background: #cbd8db;
    padding: 20px 30px;
    font-size: 10px;
    border-radius: 5px;
} 

#entryHolder{
    /*visibility: hidden;*/
    background-color: #add0d8;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

#date{
    font-size: 15px;
    font-style: oblique;
    margin: 10px 0;
}

#temp{
    font-size: 20px;
    font-style:italic ;
    margin: 10px 0;
}

#content{
    font-size: 20px;
    font-style: normal;
    margin: 10px 0;
}

.headline {
    text-align: center;
}
.title{
    font-size: 25px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 25px;
}

input{
    display:inline-block;
    height: 30px;
    width: 320px;
    background:#c1c2d3;
    color:#d6d5cd;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 200px;
    height: 50px;
    background: #6167a8;
    color: #f8f8f5;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #faf7f7;
    margin: 20px;
}

h1{
    font-size: 40px;
}

textarea{
    background:#c6c8db;
    color: #7683f5;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    display: block;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #3a4cf0;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3a4cf0;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #3a4cf0;
    font-family: 'Oswald', sans-serif;

}